# Archivos generados
datos_unificados.csv
dane.csv

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
.venv/
venv/
env/

# Variables de entorno
.env

# VS Code / IDE
.vscode/
*.code-workspace

# Streamlit
.streamlit/secrets.toml

# Sistema
Thumbs.db
.DS_Store